body {
    background: #F5EEBF;
}/*#FAC38C*/

#banner{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 0;
    height: 200;
}

#navbar{
    background: #854A19;
    height: 3.2em;
    width: 120%;
    margin-left: -10%;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li{
    display: inline;
    vertical-align: middle;
}
#menu a{
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    font-family: Trebuchet MS;
    text-decoration: none;
    color: #E2E8B0;
}
#menu li:before{
    content: " | ";
    color: #E2E8B0;
}
#menu li:first-child:before{
    content: none;
}

#main {
    height: auto;
    width: 80%;
    margin-top: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: white;
    font-family: Tahoma;
}
